<div>{{{alert}}}</div>
<h1>Donors</h1>

<div class="col-md-8">
    <table class="table table-striped table-hover">
        <thead> 
            <tr> 
                <th>Name
                <th>Address
                <th>City
                <th>State
                <th>Zip
                <th>Specific Location</th>
            </tr> 
        </thead>
        <tbody> 
            {{#each businesses}}
                <tr> 
                    <td>{{this.name}}
                    <td>{{this.street_address}}
                    <td>{{this.city}}
                    <td>{{this.state}}
                    <td>{{this.zip}}
                    <td>{{this.specific_location}}
                </tr> 
            {{/each}}
        </tbody>
    </table>
</div>


<div class="col-md-4">
    <form role="form" action="/Donors/business" method="POST">    
        <fieldset>
            <legend>See Availale Food From a Specific Donor:</legend>
                <div class="form-group"> 
                    <label for="Specific_donor">Pick a Specific Donor:</label>
                    <select class="form-control" name="business_id" id="business_id">
                        <option>--Select Donor--</option>
                            {{#each businesses}}
                                <option value={{this.id}}>{{this.name}}</option>
                            {{/each}}
                    </select>
                <input type="submit" id="entrySubmitABusiness" class="btn btn-primary">
        </fieldset>
    </form>
</div>

