<div>{{{alert}}}</div>
<div class="col-md-8">
    <table class="table table-striped table-hover">
    <thead> 
        <tr>
            <th>Business
            <th>Type
            <th>Quantity
            <th>Pickup Availability Start
            <th>Pickup Availability End
        </tr> 
    </thead>
    <tbody> 
        {{#each foods }}
            <tr>
                <td>{{this.name}}
                <td>{{this.type}}
                <td>{{this.quantity}}
                <td>{{this.availability_start}}
                <td>{{this.availability_end}}
            </tr> 
        {{/each }}
    </tbody>
</table>
</div>
<div class="col-md-2"></div>

<div class="col-md-4">
    <form role="form" action="/Donors/food/reserve" method="POST">    
        <fieldset>
            <legend>Reserve Food:</legend>
                <div class="form-group"> 
                    <label for="Specific_foodType">Pick a Food Type To Reserve:</label>
                    <select class="form-control" name="food_id" id="food_id">
                        <option>--Select Food Type--</option>
                            {{#each foods}}
                                <option value={{this.id}}>{{this.type}}</option>
                            {{/each}}
                    </select>
                    <input type="number" class="form-control" name="quantity" id="quantity" min="0" max="100" placeholder="Quantity">
                <input type="submit" id="entrySubmitAFood" class="btn btn-primary">
        </fieldset>
    </form>
</div>

